.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

header p {
  color: rgb(106, 255, 0);
  text-shadow: 2px 2px 5px rgb(0, 0, 255);
  font-weight: bold;
  font-size: 100px;
  font-family: "Lucida Console", "Time", cursive;
  font-style: italic;
}

.welcome p {
  color: rgb(255, 0, 230);
  font-weight: bold;
 
  font-size: 80px;

}
footer p {
  font-weight: bold;
  font-size: small;
}

.restaurant h1 {
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: xx-large;
}

.menu h2 {
  color: rgb(255, 119, 0);
  font-weight: bold;
  font-size: x-large;
}

.item h3 {
  color: rgb(255, 225, 0);
  font-weight: bold;
  font-size: large;

}

label {
  font-weight: bold;
  text-align: left；
}
input {
  margin-top: 15px;
}

.restauranttList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 80px;
  margin: 80px;
    
}

.menuList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  margin: 30x;
}

article {
  border: 3px solid #0b0000;
  padding: 10px;
  text-align: center;
}